.rs_main_container {
  width: 75%;
  height: 100%;
  padding-left: 1rem;
  padding-bottom: 0.8rem;
  display: flex;
}

.rs_scratchpad {
  flex-grow: 1;
  border-radius: 0.2rem;
  border: 0.5px solid #404040;
  display: flex;
  flex-direction: column;
}

.editor {
  counter-reset: line;
  border: 1px solid #ced4da;
  padding-left: 40px !important;
}

.editor #codeArea {
  outline: none;
  padding-left: 100px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}
